.form {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.form__header {
    padding: 17px;
    border-bottom: 2px solid #eee;
    color: #333;
    margin: 0;
}

@media (max-width: 768px) {
    .form__header {
        text-align: center;
    }
}

.form__inputContainer {
    display: flex;
    align-items: center;
    padding: 25px 20px 25px 20px;

}

@media (max-width: 768px) {
    .form__inputContainer {
        display: flex;
        flex-direction: column;
    }
}

.form__input {
    padding: 12px;
    width: 82%;
}

@media (max-width: 768px) {
    .form__input {
        display: flex;
        width: 90%;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
    }
}

.form__button {
    margin-left: 20px;
    padding: 10px;
    width: 15%;
    background-color: teal;
    color: white;
    font-size: 20px;
    border: none;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    cursor: pointer;
    transform: scale(1.12);
    transition: 0.3s;
}

@media (max-width: 768px) {
    .form__button {
        margin-left: 0;
        background-color: teal;
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;

    }
}